@import url('../Utils/Colors.css');

.btn {
  box-shadow: 1px 1px 16px gray;
  width: 130px;
}

.pageHeading {
  background-color: var(--primary-color);
}

/* Loading Button Animation */
.loadingbtn {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
